# EDA HULU

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

import warnings
warnings.filterwarnings("ignore")

In [5]:
df = pd.read_csv('HuluRaw.csv', index_col=0)

In [10]:
def eda_df(df):

    display(df.info())

    print(f'\n Filas aleatorias: \n')
    display(df.sample(10))

    print("\n Los nulos del conjunto de datos son: \n")
    nulos = pd.DataFrame(df.isnull().sum() / df.shape[0] * 100, columns = ["%_nulos"])
    display(nulos[nulos["%_nulos"] > 0])

    print("\n Los duplicados son: \n")
    display(df.duplicated().sum())

    print(f"Los tipos de las columnas son:")
    display(pd.DataFrame(df.dtypes, columns = ["tipo_dato"]))

    print(f"Lista de los nombres de las variables numricas:")
    display(numericas = df.select_dtypes(include = np.number).columns)

    print("Los valores que tenemos para las columnas categricas son: ")
    categoricas = df.select_dtypes(include = "O")
    for col in categoricas.columns:
        print(f"La columna {col.upper()} tiene las siguientes valores nicos:")
        display(pd.DataFrame(df[col].value_counts()).head())

    print("Los valores que tenemos para las columnas numricas son: ")
    numericas = df.select_dtypes(exclude='O')
    try:
        print("\n ..................... \n")
        print(f"Los principales estadsticos de las columnas categricas son: ")
        display(categoricas.describe(include = "O").T)
    except:
        print('No hay columnas categricas')
    try:
        print("\n ..................... \n")
        print(f"Los principales estadsticos de las columnas numricas son: ")
        display(numericas.describe().T)
    except:
        print('No hay columnas numricas')

    return eda_df

eda_df(df)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Columns: 182 entries, show/id to Unnamed: 181
dtypes: bool(6), float64(3), int64(122), object(51)
memory usage: 1.4+ MB

None

 Filas aleatorias:

,show/id,show/cache_time,show/canonical_name,show/clips_count,show/description,show/episodes_count,show/feature_films_count,show/film_clips_count,show/genre,show/genres,show/is_movie,show/is_showtime_only,show/is_subscriber_only,show/link_description,show/name,show/rating,show/seasons_count,show/series_id,show/thumbnail_url,show/key_art_url,show/type,show/videos_count,show/availability/0,show/availability/1,show/availability/2,show/art_copyright,show/auth_name,show/is_coppa,show/show_notes/free/availability_text,show/show_notes/free/expiration_text,show/show_notes/free/notification_text,show/show_notes/free/promotional_text,show/show_notes/subscriber/availability_text,show/show_notes/subscriber/expiration_text,show/show_notes/subscriber/notification_text,show/show_notes/subscriber/promotional_text,show/is_web_only,show/available_package_ids,show/company/id,show/company/channel_id,show/company/name,show/company/short_name,show/company/canonical_name,show/company/key_art_url,show/company/network_logo_url,show/company/has_logo_url,show/show_rollups/free/clips_count,show/show_rollups/free/episodes_count,show/show_rollups/free/feature_films_count,show/show_rollups/free/film_clips_count,show/show_rollups/free/film_trailers_count,show/show_rollups/free/games_count,show/show_rollups/free/released_at,show/show_rollups/free/seasons_count,show/show_rollups/free/videos_count,show/show_rollups/free/latest_video_added_at,show/show_rollups/free/html5_clips_count,show/show_rollups/free/html5_episodes_count,show/show_rollups/free/html5_games_count,show/show_rollups/free/html5_feature_films_count,show/show_rollups/free/html5_film_clips_count,show/show_rollups/free/html5_film_trailers_count,show/show_rollups/free/html5_videos_count,show/show_rollups/free/non_rating_videos_count,show/show_rollups/free/highest_rating,show/show_rollups/subscriber/clips_count,show/show_rollups/subscriber/episodes_count,show/show_rollups/subscriber/feature_films_count,show/show_rollups/subscriber/film_clips_count,show/show_rollups/subscriber/film_trailers_count,show/show_rollups/subscriber/games_count,show/show_rollups/subscriber/released_at,show/show_rollups/subscriber/seasons_count,show/show_rollups/subscriber/videos_count,show/show_rollups/subscriber/latest_video_added_at,show/show_rollups/subscriber/html5_clips_count,show/show_rollups/subscriber/html5_episodes_count,show/show_rollups/subscriber/html5_games_count,show/show_rollups/subscriber/html5_feature_films_count,show/show_rollups/subscriber/html5_film_clips_count,show/show_rollups/subscriber/html5_film_trailers_count,show/show_rollups/subscriber/html5_videos_count,show/show_rollups/subscriber/non_rating_videos_count,show/show_rollups/subscriber/highest_rating,show/show_rollups/current/clips_count,show/show_rollups/current/episodes_count,show/show_rollups/current/feature_films_count,show/show_rollups/current/film_clips_count,show/show_rollups/current/film_trailers_count,show/show_rollups/current/games_count,show/show_rollups/current/released_at,show/show_rollups/current/seasons_count,show/show_rollups/current/videos_count,show/show_rollups/current/latest_video_added_at,show/show_rollups/current/html5_clips_count,show/show_rollups/current/html5_episodes_count,show/show_rollups/current/html5_games_count,show/show_rollups/current/html5_feature_films_count,show/show_rollups/current/html5_film_clips_count,show/show_rollups/current/html5_film_trailers_count,show/show_rollups/current/html5_videos_count,show/show_rollups/current/non_rating_videos_count,show/show_rollups/current/highest_rating,show/show_rollups/free_on_web/clips_count,show/show_rollups/free_on_web/episodes_count,show/show_rollups/free_on_web/feature_films_count,show/show_rollups/free_on_web/film_clips_count,show/show_rollups/free_on_web/film_trailers_count,show/show_rollups/free_on_web/games_count,show/show_rollups/free_on_web/released_at,show/show_rollups/free_on_web/seasons_count,show/show_rollups/free_on_web/videos_count,show/show_rollups/free_on_web/latest_video_added_at,show/show_rollups/free_on_web/html5_clips_count,show/show_rollups/free_on_web/html5_episodes_count,show/show_rollups/free_on_web/html5_games_count,show/show_rollups/free_on_web/html5_feature_films_count,show/show_rollups/free_on_web/html5_film_clips_count,show/show_rollups/free_on_web/html5_film_trailers_count,show/show_rollups/free_on_web/html5_videos_count,show/show_rollups/free_on_web/non_rating_videos_count,show/show_rollups/free_on_web/highest_rating,show/show_rollups/subscriber_on_device/clips_count,show/show_rollups/subscriber_on_device/episodes_count,show/show_rollups/subscriber_on_device/feature_films_count,show/show_rollups/subscriber_on_device/film_clips_count,show/show_rollups/subscriber_on_device/film_trailers_count,show/show_rollups/subscriber_on_device/games_count,show/show_rollups/subscriber_on_device/released_at,show/show_rollups/subscriber_on_device/seasons_count,show/show_rollups/subscriber_on_device/videos_count,show/show_rollups/subscriber_on_device/latest_video_added_at,show/show_rollups/subscriber_on_device/html5_clips_count,show/show_rollups/subscriber_on_device/html5_episodes_count,show/show_rollups/subscriber_on_device/html5_games_count,show/show_rollups/subscriber_on_device/html5_feature_films_count,show/show_rollups/subscriber_on_device/html5_film_clips_count,show/show_rollups/subscriber_on_device/html5_film_trailers_count,show/show_rollups/subscriber_on_device/html5_videos_count,show/show_rollups/subscriber_on_device/non_rating_videos_count,show/show_rollups/subscriber_on_device/highest_rating,show/show_rollups/auth_on_web/clips_count,show/show_rollups/auth_on_web/episodes_count,show/show_rollups/auth_on_web/feature_films_count,show/show_rollups/auth_on_web/film_clips_count,show/show_rollups/auth_on_web/film_trailers_count,show/show_rollups/auth_on_web/games_count,show/show_rollups/auth_on_web/released_at,show/show_rollups/auth_on_web/seasons_count,show/show_rollups/auth_on_web/videos_count,show/show_rollups/auth_on_web/latest_video_added_at,show/show_rollups/auth_on_web/html5_clips_count,show/show_rollups/auth_on_web/html5_episodes_count,show/show_rollups/auth_on_web/html5_games_count,show/show_rollups/auth_on_web/html5_feature_films_count,show/show_rollups/auth_on_web/html5_film_clips_count,show/show_rollups/auth_on_web/html5_film_trailers_count,show/show_rollups/auth_on_web/html5_videos_count,show/show_rollups/auth_on_web/non_rating_videos_count,show/show_rollups/auth_on_web/highest_rating,show/show_rollups/showtime/clips_count,show/show_rollups/showtime/episodes_count,show/show_rollups/showtime/feature_films_count,show/show_rollups/showtime/film_clips_count,show/show_rollups/showtime/film_trailers_count,show/show_rollups/showtime/games_count,show/show_rollups/showtime/released_at,show/show_rollups/showtime/seasons_count,show/show_rollups/showtime/videos_count,show/show_rollups/showtime/latest_video_added_at,show/show_rollups/showtime/html5_clips_count,show/show_rollups/showtime/html5_episodes_count,show/show_rollups/showtime/html5_games_count,show/show_rollups/showtime/html5_feature_films_count,show/show_rollups/showtime/html5_film_clips_count,show/show_rollups/showtime/html5_film_trailers_count,show/show_rollups/showtime/html5_videos_count,show/show_rollups/showtime/non_rating_videos_count,show/show_rollups/showtime/highest_rating,show/annotations/0,show/annotations/1,Unnamed: 181
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
28,22638,2017-08-10T15:57:42+00:00,doc-mcstuffins,0,A magical animated series about a six-year-old...,92,0,0,Animation and Cartoons,Animation and Cartoons|Kids,False,False,False,NaN,Doc McStuffins,3.503616,3,50020770,https://ib1.hulu.com/show/22638?size=476x268&r...,https://ib1.hulu.com/show_key_art/22638?size=1...,show,92,web,living_room,mobile,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,"2,14",873,50000672,Disney Junior,Disney Junior,disney-junior,https://ib2.hulu.com/company_key_art/873?size=...,NaN,False,0,0,0,0,0,0,NaN,0,0,NaN,0,0,0,0,0,0,0,0,NaN,0,92,0,0,0,0,2015-04-06T07:03:02Z,3,92,2016-05-25T07:00:28Z,0,0,0,0,0,0,0,0,TV-Y7,0,92,0,0,0,0,2015-04-06T07:03:02Z,3,92,2016-05-25T07:00:28Z,0,0,0,0,0,0,0,0,TV-Y7,0,0,0,0,0,0,NaN,0,0,NaN,0,0,0,0,0,0,0,0,NaN,0,92,0,0,0,0,2015-04-06T07:03:02Z,3,92,2016-05-25T07:00:28Z,0,0,0,0,0,0,0,0,TV-Y7,0,92,0,0,0,0,2015-04-06T07:03:02Z,3,92,2016-05-25T07:00:28Z,0,0,0,0,0,0,0,0,TV-Y7,0,92,0,0,0,0,2015-04-06T07:03:02Z,3,92,2016-05-25T07:00:28Z,0,0,0,0,0,0,0,0,TV-Y7,NaN,NaN,NaN
450,12138,2017-08-10T15:49:06+00:00,teenage-mutant-ninja-turtles,44,Master Splinter allows the Turtles to visit th...,100,0,0,Kids,Kids|Animation and Cartoons|Teen,False,False,False,NaN,Teenage Mutant Ninja Turtles,3.779687,4,50009406,https://ib.hulu.com/show/12138?size=476x268&re...,https://ib.hulu.com/show_key_art/12138?size=16...,show,144,web,living_room,mobile,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,Season 1-3 are now streaming.,NaN,NaN,False,"2,14",584,50000347,Nickelodeon,Nickelodeon,nickelodeon,https://ib1.hulu.com/company_key_art/584?size=...,NaN,True,0,0,0,0,0,0,NaN,0,0,NaN,0,0,0,0,0,0,0,0,NaN,44,100,0,0,0,0,2012-10-20T08:00:08Z,4,144,2017-04-27T18:52:24Z,44,0,0,0,0,0,44,0,TV-Y7,44,100,0,0,0,0,2012-10-20T08:00:08Z,4,144,2017-04-27T18:52:24Z,44,0,0,0,0,0,44,0,TV-Y7,0,0,0,0,0,0,NaN,0,0,NaN,0,0,0,0,0,0,0,0,NaN,44,100,0,0,0,0,2012-10-20T08:00:08Z,4,144,2017-04-27T18:52:24Z,44,0,0,0,0,0,44,0,TV-Y7,44,100,0,0,0,0,2012-10-20T08:00:08Z,4,144,2017-04-27T18:52:24Z,44,0,0,0,0,0,44,0,TV-Y7,44,100,0,0,0,0,2012-10-20T08:00:08Z,4,144,2017-04-27T18:52:24Z,44,0,0,0,0,0,44,0,TV-Y7,https://ib1.hulu.com/company_logo/584?bg=dim&c...,NaN,NaN
347,23200,2017-08-10T15:56:50+00:00,elementary,1,ELEMENTARY stars Jonny Lee Miller as detective...,120,0,0,Drama,Drama~Crime and Courtroom Drama,False,False,False,NaN,Elementary,4.574703,5,50021483,https://ib2.hulu.com/show/23200?size=476x268&r...,https://ib2.hulu.com/show_key_art/23200?size=1...,show,121,web,living_room,mobile,NaN,NaN,False,This series is available on Hulu Plus only.,NaN,NaN,NaN,Seasons 1-5,NaN,NaN,NaN,False,"2,14",430,50000185,CBS,CBS,cbs,https://ib1.hulu.com/company_key_art/430?size=...,NaN,False,0,0,0,0,0,0,NaN,0,0,NaN,0,0,0,0,0,0,0,0,NaN,1,120,0,0,0,0,2015-09-01T07:00:53Z,5,121,2017-06-30T07:00:32Z,0,0,0,0,0,0,0,0,TV-14,1,120,0,0,0,0,2015-09-01T07:00:53Z,5,121,2017-06-30T07:00:32Z,0,0,0,0,0,0,0,0,TV-14,0,0,0,0,0,0,NaN,0,0,NaN,0,0,0,0,0,0,0,0,NaN,1,120,0,0,0,0,2015-09-01T07:00:53Z,5,121,2017-06-30T07:00:32Z,0,0,0,0,0,0,0,0,TV-14,1,120,0,0,0,0,2015-09-01T07:00:53Z,5,121,2017-06-30T07:00:32Z,0,0,0,0,0,0,0,0,TV-14,1,120,0,0,0,0,2015-09-01T07:00:53Z,5,121,2017-06-30T07:00:32Z,0,0,0,0,0,0,0,0,TV-14,NaN,NaN,NaN
56,1861,2017-08-10T15:19:26+00:00,stargate-sg-1,0,"Step through the stargate with SG-1, a team of...",214,0,0,Science Fiction,Science Fiction|Family,False,False,False,NaN,Stargate SG-1,4.315301,10,11387,https://ib3.hulu.com/show/1861?size=476x268&re...,https://ib3.hulu.com/show_key_art/1861?size=16...,show,214,web,living_room,mobile,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,"2,14",28,30,MGM,MGM,mgm,https://ib1.hulu.com/company_key_art/28?size=1...,NaN,False,0,0,0,0,0,0,NaN,0,0,NaN,0,0,0,0,0,0,0,0,NaN,0,214,0,0,0,0,2009-03-17T23:18:27Z,10,214,2015-07-16T15:38:11Z,0,0,0,0,0,0,0,88,TV-14,0,214,0,0,0,0,2009-03-17T23:18:27Z,10,214,2015-07-16T15:38:11Z,0,0,0,0,0,0,0,88,TV-14,0,0,0,0,0,0,NaN,0,0,NaN,0,0,0,0,0,0,0,0,NaN,0,214,0,0,0,0,2014-12-19T10:04:39Z,10,214,2015-07-16T15:38:11Z,0,0,0,0,0,0,0,88,TV-14,0,214,0,0,0,0,2009-03-17T23:18:27Z,10,214,2015-07-16T15:38:11Z,0,0,0,0,0,0,0,88,TV-14,0,214,0,0,0,0,2009-03-17T23:18:27Z,10,214,2015-07-16T15:38:11Z,0,0,0,0,0,0,0,88,TV-14,NaN,NaN,NaN
811,10,2017-08-10T15:46:57+00:00,bones,60,Forensic anthropologist Dr. Temperance Brennan...,246,0,0,Drama,Drama~Crime and Courtroom Drama,False,False,False,"For insider news, photos, and more visit the o...",Bones,4.618598,12,384,https://ib2.hulu.com/show/10?size=476x268&regi...,https://ib2.hulu.com/show_key_art/10?size=1600...,show,306,web,living_room,mobile,NaN,NaN,False,NaN,NaN,Episodes 10-14 will be available through 9/6; ...,NaN,NaN,NaN,NaN,NaN,False,"1,2,4,5,14",8,2,FOX,FOX,fox,https://ib1.hulu.com/company_key_art/8?size=16...,https://ib1.hulu.com/company_logo/8?bg=dim&col...,True,60,0,0,0,0,0,2007-09-06T20:45:31Z,0,60,2017-04-26T15:00:28Z,60,0,0,0,0,0,60,0,NaN,60,246,0,0,0,0,2007-09-06T20:45:31Z,12,306,2017-07-19T07:33:28Z,60,0,0,0,0,0,60,0,TV-14,60,246,0,0,0,0,2007-09-06T20:45:31Z,12,306,2017-07-19T07:33:28Z,60,0,0,0,0,0,60,0,TV-14,60,0,0,0,0,0,2007-09-06T20:45:31Z,0,60,2017-04-26T15:00:28Z,60,0,0,0,0,0,60,0,NaN,60,246,0,0,0,0,2009-12-09T20:52:05Z,12,306,2017-07-19T10:23:26Z,60,0,0,0,0,0,60,0,TV-14,60,246,0,0,0,0,2007-09-06T20:45:31Z,12,306,2017-07-19T07:33:28Z,60,0,0,0,0,0,60,0,TV-14,60,246,0,0,0,0,2007-09-06T20:45:31Z,12,306,2017-07-19T07:33:28Z,60,0,0,0,0,0,60,0,TV-14,NaN,NaN,NaN
789,12867,2017-08-10T15:08:48+00:00,frasier,0,"Comedy series set in Seattle, WA, which chroni...",264,0,0,Comedy,Comedy~Sitcoms,False,False,False,NaN,Frasier,4.252930,11,50009965,https://ib4.hulu.com/show/12867?size=476x268&r...,https://ib4.hulu.com/show_key_art/12867?size=1...,show,264,web,living_room,mobile,NaN,NaN,False,This series is available on Hulu Plus only.,NaN,NaN,NaN,the entire series,NaN,NaN,NaN,False,"2,14",430,50000185,CBS,CBS,cbs,https://ib1.hulu.com/company_key_art/430?size=...,NaN,False,0,0,0,0,0,0,NaN,0,0,NaN,0,0,0,0,0,0,0,0,NaN,0,264,0,0,0,0,2013-01-06T04:28:08Z,11,264,2013-01-06T04:28:08Z,0,0,0,0,0,0,0,0,TV-PG,0,264,0,0,0,0,2013-01-06T04:28:08Z,11,264,2013-01-06T04:28:08Z,0,0,0,0,0,0,0,0,TV-PG,0,0,0,0,0,0,NaN,0,0,NaN,0,0,0,0,0,0,0,0,NaN,0,264,0,0,0,0,2013-01-06T04:28:08Z,11,264,2014-12-26T04:22:16Z,0,0,0,0,0,0,0,0,TV-PG,0,264,0,0,0,0,2013-01-06T04:28:08Z,11,264,2013-01-06T04:28:08Z,0,0,0,0,0,0,0,0,TV-PG,0,264,0,0,0,0,2013-01-06T04:28:08Z,11,264,2013-01-06T04:28:08Z,0,0,0,0,0,0,0,0,TV-PG,NaN,NaN,NaN
452,1861,2017-08-10T14:25:58+00:00,stargate-sg-1,0,"Step through the stargate with SG-1, a team of...",214,0,0,Science Fiction,Science Fiction|Family,False,False,False,NaN,Stargate SG-1,4.315301,10,11387,https://ib3.hulu.com/show/1861?size=476x268&re...,https://ib3.hulu.com/show_key_art/1861?size=16...,show,214,web,living_room,mobile,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,"2,14",28,30,MGM,MGM,mgm,https://ib1.hulu.com/company_key_art/28?size=1...,NaN,False,0,0,0,0,0,0,NaN,0,0,NaN,0,0,0,0,0,0,0,0,NaN,0,214,0,0,0,0,2009-03-17T23:18:27Z,10,214,2015-07-16T15:38:11Z,0,0,0,0,0,0,0,88,TV-14,0,214,0,0,0,0,2009-03-17T23:18:27Z,10,214,2015-07-16T15:38:11Z,0,0,0,0,0,0,0,88,TV-14,0,0,0,0,0,0,NaN,0,0,NaN,0,0,0,0,0,0,0,0,NaN,0,214,0,0,0,0,2014-12-19T10:04:39Z,10,214,2015-07-16T15:38:11Z,0,0,0,0,0,0,0,88,TV-14,0,214,0,0,0,0,2009-03-17T23:18:27Z,10,214,2015-07-16T15:38:11Z,0,0,0,0,0,0,0,88,TV-14,0,214,0,0,0,0,2009-03-17T23:18:27Z,10,214,2015-07-16T15:38:11Z,0,0,0,0,0,0,0,88,TV-14,NaN,NaN,NaN
37,19738,2017-08-10T15:22:30+00:00,blackish,229,"Andre 'Dre' Johnson has a great job, a beautif...",72,0,0,Comedy,Comedy~Sitcoms|Family,False,False,False,NaN,Black-ish,4.237078,3,50017742,https://ib3.hulu.com/show/19738?size=476x268&r...,https://ib3.hulu.com/show_key_art/19738?size=1...,show,301,web,living_room,mobile,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,Episodes will be available the day after air. ...,With your Hulu subscription you will have acce...,NaN,False,"1,2,14",231,282,ABC,ABC,abc,https://ib.hulu.com/company_key_art/231?size=1...,https://ib.hulu.com/company_logo/231?bg=dim&co...,True,226,9,0,0,0,0,2014-09-05T04:30:17Z,2,235,2017-08-09T07:00:30Z,226,0,0,0,0,0,226,0,TV-14,229,72,0,0,0,0,2014-09-05T04:30:17Z,3,301,2017-07-26T07:00:32Z,229,0,0,0,0,0,229,0,TV-14,229,72,0,0,0,0,2014-09-05T04:30:17Z,3,301,2017-07-26T07:00:32Z,229,0,0,0,0,0,229,0,TV-14,226,9,0,0,0,0,2014-09-05T04:30:17Z,2,235,2017-08-09T07:00:30Z,226,0,0,0,0,0,226,0,TV-14,229,72,0,0,0,0,2014-09-25T09:01:22Z,3,301,2017-07-26T07:00:32Z,229,0,0,0,0,0,229,0,TV-14,229,72,0,0,0,0,2014-09-05T04:30:17Z,3,301,2017-07-26T07:00:32Z,229,0,0,0,0,0,229,0,TV-14,229,72,0,0,0,0,2014-09-05T04:30:17Z,3,301,2017-07-26T07:00:32Z,229,0,0,0,0,0,229,0,TV-14,NaN,NaN,NaN
669,12745,2017-08-10T14:41:30+00:00,survivor,0,Sixteen castaways sign up to be marooned on a ...,319,0,0,Teen,Teen|Reality and Game Shows~Competition|Family,False,False,False,NaN,Survivor,4.002238,21,50010097,https://ib4.hulu.com/show/12745?size=476x268&r...,https://ib4.hulu.com/show_key_art/12745?size=1...,show,319,web,living_room,mobile,NaN,NaN,False,This series is available on Hulu Plus only.,NaN,NaN,NaN,Seasons 1 and 12-31,A limited number of seasons are available for ...,NaN,NaN,False,"2,14",430,50000185,CBS,CBS,cbs,https://ib1.hulu.com/company_key_art/430?size=...,NaN,False,0,0,0,0,0,0,NaN,0,0,NaN,0,0,0,0,0,0,0,0,NaN,0,319,0,0,0,0,2012-12-26T08:09:07Z,21,319,2016-08-15T17:06:24Z,0,319,0,0,0,0,319,0,TV-14,0,319,0,0,0,0,2012-12-26T08:09:07Z,21,319,2016-08-15T17:06:24Z,0,319,0,0,0,0,319,0,TV-14,0,0,0,0,0,0,NaN,0,0,NaN,0,0,0,0,0,0,0,0,NaN,0,319,0,0,0,0,2012-12-26T08:09:07Z,21,319,2016-08-15T17:06:24Z,0,319,0,0,0,0,319,0,TV-14,0,319,0,0,0,0,2012-12-26T08:09:07Z,21,319,2016-08-15T17:06:24Z,0,319,0,0,0,0,319,0,TV-14,0,319,0,0,0,0,2012-12-26T08:09:07Z,21,319,2016-08-15T17:06:24Z,0,319,0,0,0,0,319,0,TV-14,NaN,NaN,NaN
640,21721,2017-08-10T14:30:46+00:00,steven-universe,102,Steven Universe is about the misadventures of ...,102,0,0,Comedy,Comedy|Kids|Teen,False,False,False,NaN,Steven Universe,4.416829,3,50019892,https://ib3.hulu.com/show/21721?size=476x268&r...,https://ib3.hulu.com/show_key_art/21721?size=1...,show,204,web,living_room,mobile,NaN,NaN,True,NaN,Episodes 1-35 are available at this time.,NaN,NaN,NaN,Episodes 1-35 are available at this time.,NaN,NaN,False,"1,2,14",855,50000651,Cartoon Network,Cartoon Network,cartoon-network,https://ib2.hulu.com/company_key_art/855?size=...,NaN,False,52,0,0,0,0,0,2015-05-01T06:50:00Z,0,52,2015-11-16T08:00:24Z,52,0,0,0,0,0,52,0,NaN,102,102,0,0,0,0,2015-05-01T06:50:00Z,3,204,2017-03-10T08:00:29Z,102,102,0,0,0,0,204,0,TV-PG,102,102,0,0,0,0,2015-05-01T06:50:00Z,3,204,2017-03-10T08:00:29Z,102,102,0,0,0,0,204,0,TV-PG,52,0,0,0,0,0,2015-05-01T06:50:00Z,0,52,2015-11-16T08:00:24Z,52,0,0,0,0,0,52,0,NaN,102,102,0,0,0,0,2015-05-01T06:50:00Z,3,204,2017-03-10T08:00:29Z,102,102,0,0,0,0,204,0,TV-PG,102,102,0,0,0,0,2015-05-01T06:50:00Z,3,204,2017-03-10T08:00:29Z,102,102,0,0,0,0,204,0,TV-PG,102,102,0,0,0,0,2015-05-01T06:50:00Z,3,204,2017-03-10T08:00:29Z,102,102,0,0,0,0,204,0,TV-PG,NaN,NaN,NaN

 Los nulos del conjunto de datos son:

                                                    %_nulos
show/link_description                                  73.8
show/art_copyright                                    100.0
show/auth_name                                        100.0
show/show_notes/free/availability_text                 78.2
show/show_notes/free/expiration_text                   90.3
show/show_notes/free/notification_text                 79.4
show/show_notes/free/promotional_text                  96.6
show/show_notes/subscriber/availability_text           66.2
show/show_notes/subscriber/expiration_text             72.6
show/show_notes/subscriber/notification_text           64.0
show/show_notes/subscriber/promotional_text            96.9
show/company/network_logo_url                          60.1
show/show_rollups/free/released_at                     28.4
show/show_rollups/free/latest_video_added_at           28.4
show/show_rollups/free/highest_rating                  52.3
show/show_rollups/subscriber/highest_rating             4.0
show/show_rollups/current/highest_rating                4.0
show/show_rollups/free_on_web/released_at              28.4
show/show_rollups/free_on_web/latest_video_adde...     28.4
show/show_rollups/free_on_web/highest_rating           52.3
show/show_rollups/subscriber_on_device/highest_...      4.0
show/show_rollups/auth_on_web/highest_rating            4.0
show/show_rollups/showtime/highest_rating               4.0
show/annotations/0                                     69.0
show/annotations/1                                     96.2
Unnamed: 181                                           99.6

 Los duplicados son:

638

Los tipos de las columnas son:

                                                   tipo_dato
show/id                                                int64
show/cache_time                                       object
show/canonical_name                                   object
show/clips_count                                       int64
show/description                                      object
...                                                      ...
show/show_rollups/showtime/non_rating_videos_count     int64
show/show_rollups/showtime/highest_rating             object
show/annotations/0                                    object
show/annotations/1                                    object
Unnamed: 181                                          object

[182 rows x 1 columns]

Lista de los nombres de las variables numricas:
Los valores que tenemos para las columnas categricas son:
La columna SHOW/CACHE_TIME tiene las siguientes valores nicos:

                           show/cache_time
2017-08-10T14:46:12+00:00               10
2017-08-10T15:37:26+00:00               10
2017-08-10T15:22:51+00:00                7
2017-08-10T15:36:21+00:00                7
2017-08-10T15:57:01+00:00                7

La columna SHOW/CANONICAL_NAME tiene las siguientes valores nicos:

                              show/canonical_name
teenage-mutant-ninja-turtles                   10
homeland                                       10
project-runway                                 10
the-cleveland-show                             10
jimmy-kimmel-live                              10

La columna SHOW/DESCRIPTION tiene las siguientes valores nicos:

                                                    show/description
Master Splinter allows the Turtles to visit the...                10
HOMELAND is an edge-of-your-seat sensation. CIA...                10
Project Runway is a reality competition where f...                10
Everyone's favorite soft-spoken neighbor Clevel...                10
ABCs distinctive late-night talk show features...                10

La columna SHOW/GENRE tiene las siguientes valores nicos:

                        show/genre
Comedy                         280
Drama                          271
Reality and Game Shows         130
Animation and Cartoons          95
Kids                            70

La columna SHOW/GENRES tiene las siguientes valores nicos:

                                 show/genres
Drama                                     80
Comedy~Sitcoms                            56
Comedy                                    53
Comedy~Sitcoms|Family                     40
Drama~Crime and Courtroom Drama           40

La columna SHOW/LINK_DESCRIPTION tiene las siguientes valores nicos:

                                                    show/link_description
Read bios, recaps and tour Wisteria Lane at the...                     10
For insider news, photos, and more visit the of...                     10
Hang out with Patricia Heaton and interact with...                     10
To discuss and learn more about the show, visit...                     10
Photos, recaps, episode commentary and more on ...                     10

La columna SHOW/NAME tiene las siguientes valores nicos:

                              show/name
Teenage Mutant Ninja Turtles         10
Homeland                             10
Project Runway                       10
The Cleveland Show                   10
Jimmy Kimmel Live                    10

La columna SHOW/THUMBNAIL_URL tiene las siguientes valores nicos:

                                                    show/thumbnail_url
https://ib.hulu.com/show/12138?size=476x268&reg...                  10
https://ib1.hulu.com/show/20608?size=476x268&re...                  10
https://ib1.hulu.com/show/183?size=476x268&regi...                  10
https://ib.hulu.com/show/2295?size=476x268&regi...                  10
https://ib2.hulu.com/show/2526?size=476x268&reg...                  10

La columna SHOW/KEY_ART_URL tiene las siguientes valores nicos:

                                                    show/key_art_url
https://ib.hulu.com/show_key_art/12138?size=160...                10
https://ib1.hulu.com/show_key_art/20608?size=16...                10
https://ib1.hulu.com/show_key_art/183?size=1600...                10
https://ib.hulu.com/show_key_art/2295?size=1600...                10
https://ib2.hulu.com/show_key_art/2526?size=160...                10

La columna SHOW/TYPE tiene las siguientes valores nicos:

      show/type
show       1000

La columna SHOW/AVAILABILITY/0 tiene las siguientes valores nicos:

     show/availability/0
web                 1000

La columna SHOW/AVAILABILITY/1 tiene las siguientes valores nicos:

             show/availability/1
living_room                 1000

La columna SHOW/AVAILABILITY/2 tiene las siguientes valores nicos:

        show/availability/2
mobile                 1000

La columna SHOW/SHOW_NOTES/FREE/AVAILABILITY_TEXT tiene las siguientes valores nicos:

                                                    show/show_notes/free/availability_text
This series is available on Hulu Plus only.                                             60
New episodes are available 8 days after air.                                            21
We currently have rights to a half season of Th...                                      10
We are able to post three season 1 episodes                                             10
Episodes of the current season are available fo...                                      10

La columna SHOW/SHOW_NOTES/FREE/EXPIRATION_TEXT tiene las siguientes valores nicos:

                                                    show/show_notes/free/expiration_text
The Mindy Project became a Hulu Original for Se...                                    10
We are able to post up to 5 episodes at at time.                                      10
We are able to post up to 5 episodes at a time.                                       10
For season 3, episodes 1-20 are available at th...                                    10
Episodes are available 8 days after air.                                              10

La columna SHOW/SHOW_NOTES/FREE/NOTIFICATION_TEXT tiene las siguientes valores nicos:

                                                    show/show_notes/free/notification_text
Subtitled episodes are not available at this time.                                      10
We are able to post the most recent five episod...                                      10
We are able to post the last five episodes from...                                      10
We will be able to offer 5 Reba episodes at a t...                                      10
Full episodes are not available at this time.                                           10

La columna SHOW/SHOW_NOTES/FREE/PROMOTIONAL_TEXT tiene las siguientes valores nicos:

                                                    show/show_notes/free/promotional_text
Episodes 492, 542, and 590 - the Toriko/Dragon ...                                     10
At the request of the studio, all episodes that...                                     10
The first 4 Season 2 episodes will be available...                                     10
See Hulu's interview with Sesame Street executi...                                      4

La columna SHOW/SHOW_NOTES/SUBSCRIBER/AVAILABILITY_TEXT tiene las siguientes valores nicos:

                     show/show_notes/subscriber/availability_text
the entire series                                              55
Seasons 1-7                                                    20
Seasons 1-12                                                   10
Seasons 1 and 12-31                                            10
Seasons 1-4                                                    10

La columna SHOW/SHOW_NOTES/SUBSCRIBER/EXPIRATION_TEXT tiene las siguientes valores nicos:

                                                    show/show_notes/subscriber/expiration_text
Episodes will be available the day after air. A...                                          50
Episodes will be available the day after air.                                               37
Episodes will be available the day after air an...                                          30
Seasons 1-5 are now available to stream.                                                    10
Seasons 1-4 are now available to stream                                                     10

La columna SHOW/SHOW_NOTES/SUBSCRIBER/NOTIFICATION_TEXT tiene las siguientes valores nicos:

                                                    show/show_notes/subscriber/notification_text
Episodes from the current season will be availa...                                            20
With your Hulu subscription, episodes will be a...                                            10
With your Hulu subscription you will have acces...                                            10
With your Hulu subscription you can watch Seaso...                                            10
With your Hulu subscription you will have acces...                                            10

La columna SHOW/SHOW_NOTES/SUBSCRIBER/PROMOTIONAL_TEXT tiene las siguientes valores nicos:

                                                    show/show_notes/subscriber/promotional_text
Episodes 492, 542, and 590 - the Toriko/Dragon ...                                           10
At the request of the studio, all episodes that...                                           10
Season 30 Episode 4 is not available at this time.                                            9
Season 5, Episode 3 and Season 14, Episodes 5 a...                                            2

La columna SHOW/AVAILABLE_PACKAGE_IDS tiene las siguientes valores nicos:

            show/available_package_ids
1,2,14                             626
2,14                               234
1,2,5,14                            60
1,2,4,5,14                          30
2,5,14                              30

La columna SHOW/COMPANY/NAME tiene las siguientes valores nicos:

             show/company/name
ABC                        177
FOX                        151
NBC                        105
CBS                         70
Nickelodeon                 53

La columna SHOW/COMPANY/SHORT_NAME tiene las siguientes valores nicos:

             show/company/short_name
ABC                              177
FOX                              151
NBC                              105
CBS                               70
Nickelodeon                       53

La columna SHOW/COMPANY/CANONICAL_NAME tiene las siguientes valores nicos:

             show/company/canonical_name
abc                                  177
fox                                  151
nbc                                  105
cbs                                   70
nickelodeon                           53

La columna SHOW/COMPANY/KEY_ART_URL tiene las siguientes valores nicos:

                                                    show/company/key_art_url
https://ib.hulu.com/company_key_art/231?size=16...                       177
https://ib1.hulu.com/company_key_art/8?size=160...                       151
https://ib.hulu.com/company_key_art/2?size=1600...                       105
https://ib1.hulu.com/company_key_art/430?size=1...                        70
https://ib1.hulu.com/company_key_art/584?size=1...                        53

La columna SHOW/COMPANY/NETWORK_LOGO_URL tiene las siguientes valores nicos:

                                                    show/company/network_logo_url
https://ib.hulu.com/company_logo/231?bg=dim&col...                            107
https://ib1.hulu.com/company_logo/8?bg=dim&colo...                             91
https://ib.hulu.com/company_logo/2?bg=dim&color...                             65
https://ib1.hulu.com/company_logo/584?bg=dim&co...                             29
https://ib4.hulu.com/company_logo/99?bg=dim&col...                             26

La columna SHOW/SHOW_ROLLUPS/FREE/RELEASED_AT tiene las siguientes valores nicos:

                      show/show_rollups/free/released_at
2015-05-01T06:50:00Z                                  38
2016-12-16T20:02:48Z                                  20
2015-02-11T20:28:18Z                                  10
2010-07-23T18:57:09Z                                  10
2009-08-27T01:20:11Z                                  10

La columna SHOW/SHOW_ROLLUPS/FREE/LATEST_VIDEO_ADDED_AT tiene las siguientes valores nicos:

                      show/show_rollups/free/latest_video_added_at
2015-05-01T06:50:00Z                                            20
2015-11-20T02:27:19Z                                            19
2015-07-21T23:55:13Z                                            18
2017-07-27T20:06:26Z                                            17
2017-07-28T13:00:30Z                                            10

La columna SHOW/SHOW_ROLLUPS/FREE/HIGHEST_RATING tiene las siguientes valores nicos:

       show/show_rollups/free/highest_rating
TV-14                                    365
TV-PG                                     97
TV-Y                                      10
TV-MA                                      5

La columna SHOW/SHOW_ROLLUPS/SUBSCRIBER/RELEASED_AT tiene las siguientes valores nicos:

                      show/show_rollups/subscriber/released_at
2015-05-01T06:50:00Z                                        38
2016-12-16T20:02:48Z                                        20
2011-05-17T19:35:12Z                                        20
2016-04-01T07:00:33Z                                        20
2012-10-20T08:00:08Z                                        10

La columna SHOW/SHOW_ROLLUPS/SUBSCRIBER/LATEST_VIDEO_ADDED_AT tiene las siguientes valores nicos:

                      show/show_rollups/subscriber/latest_video_added_at
2017-06-30T07:00:32Z                                                 20
2015-11-20T02:27:19Z                                                 19
2017-05-02T07:00:30Z                                                 10
2017-02-24T08:00:29Z                                                 10
2017-07-11T07:33:28Z                                                 10

La columna SHOW/SHOW_ROLLUPS/SUBSCRIBER/HIGHEST_RATING tiene las siguientes valores nicos:

       show/show_rollups/subscriber/highest_rating
TV-14                                          604
TV-PG                                          132
TV-MA                                           86
TV-Y7                                           46
TV-G                                            38

La columna SHOW/SHOW_ROLLUPS/CURRENT/RELEASED_AT tiene las siguientes valores nicos:

                      show/show_rollups/current/released_at
2015-05-01T06:50:00Z                                     38
2016-12-16T20:02:48Z                                     20
2011-05-17T19:35:12Z                                     20
2016-04-01T07:00:33Z                                     20
2012-10-20T08:00:08Z                                     10

La columna SHOW/SHOW_ROLLUPS/CURRENT/LATEST_VIDEO_ADDED_AT tiene las siguientes valores nicos:

                      show/show_rollups/current/latest_video_added_at
2017-06-30T07:00:32Z                                               20
2015-11-20T02:27:19Z                                               19
2017-05-02T07:00:30Z                                               10
2017-02-24T08:00:29Z                                               10
2017-07-11T07:33:28Z                                               10

La columna SHOW/SHOW_ROLLUPS/CURRENT/HIGHEST_RATING tiene las siguientes valores nicos:

       show/show_rollups/current/highest_rating
TV-14                                       604
TV-PG                                       132
TV-MA                                        86
TV-Y7                                        46
TV-G                                         38

La columna SHOW/SHOW_ROLLUPS/FREE_ON_WEB/RELEASED_AT tiene las siguientes valores nicos:

                      show/show_rollups/free_on_web/released_at
2015-05-01T06:50:00Z                                         38
2016-12-16T20:02:48Z                                         20
2015-02-11T20:28:18Z                                         10
2010-07-23T18:57:09Z                                         10
2009-08-27T01:20:11Z                                         10

La columna SHOW/SHOW_ROLLUPS/FREE_ON_WEB/LATEST_VIDEO_ADDED_AT tiene las siguientes valores nicos:

                      show/show_rollups/free_on_web/latest_video_added_at
2015-05-01T06:50:00Z                                                 20
2015-11-20T02:27:19Z                                                 19
2015-07-21T23:55:13Z                                                 18
2017-07-27T20:06:26Z                                                 17
2017-07-28T13:00:30Z                                                 10

La columna SHOW/SHOW_ROLLUPS/FREE_ON_WEB/HIGHEST_RATING tiene las siguientes valores nicos:

       show/show_rollups/free_on_web/highest_rating
TV-14                                           365
TV-PG                                            97
TV-Y                                             10
TV-MA                                             5

La columna SHOW/SHOW_ROLLUPS/SUBSCRIBER_ON_DEVICE/RELEASED_AT tiene las siguientes valores nicos:

                      show/show_rollups/subscriber_on_device/released_at
2015-05-01T06:50:00Z                                                 38
2016-12-16T20:02:48Z                                                 20
2016-04-01T07:00:33Z                                                 20
2007-10-07T06:13:57Z                                                 10
2016-05-31T23:21:21Z                                                 10

La columna SHOW/SHOW_ROLLUPS/SUBSCRIBER_ON_DEVICE/LATEST_VIDEO_ADDED_AT tiene las siguientes valores nicos:

                      show/show_rollups/subscriber_on_device/latest_video_added_at
2017-06-30T07:00:32Z                                                 20
2015-11-20T02:27:19Z                                                 19
2017-05-02T07:00:30Z                                                 10
2017-02-24T08:00:29Z                                                 10
2017-07-11T07:33:28Z                                                 10

La columna SHOW/SHOW_ROLLUPS/SUBSCRIBER_ON_DEVICE/HIGHEST_RATING tiene las siguientes valores nicos:

       show/show_rollups/subscriber_on_device/highest_rating
TV-14                                                604
TV-PG                                                132
TV-MA                                                 86
TV-Y7                                                 46
TV-G                                                  38

La columna SHOW/SHOW_ROLLUPS/AUTH_ON_WEB/RELEASED_AT tiene las siguientes valores nicos:

                      show/show_rollups/auth_on_web/released_at
2015-05-01T06:50:00Z                                         38
2016-12-16T20:02:48Z                                         20
2011-05-17T19:35:12Z                                         20
2016-04-01T07:00:33Z                                         20
2012-10-20T08:00:08Z                                         10

La columna SHOW/SHOW_ROLLUPS/AUTH_ON_WEB/LATEST_VIDEO_ADDED_AT tiene las siguientes valores nicos:

                      show/show_rollups/auth_on_web/latest_video_added_at
2017-06-30T07:00:32Z                                                 20
2015-11-20T02:27:19Z                                                 19
2017-05-02T07:00:30Z                                                 10
2017-02-24T08:00:29Z                                                 10
2017-07-11T07:33:28Z                                                 10

La columna SHOW/SHOW_ROLLUPS/AUTH_ON_WEB/HIGHEST_RATING tiene las siguientes valores nicos:

       show/show_rollups/auth_on_web/highest_rating
TV-14                                           604
TV-PG                                           132
TV-MA                                            86
TV-Y7                                            46
TV-G                                             38

La columna SHOW/SHOW_ROLLUPS/SHOWTIME/RELEASED_AT tiene las siguientes valores nicos:

                      show/show_rollups/showtime/released_at
2015-05-01T06:50:00Z                                      38
2016-12-16T20:02:48Z                                      20
2011-05-17T19:35:12Z                                      20
2016-04-01T07:00:33Z                                      20
2012-10-20T08:00:08Z                                      10

La columna SHOW/SHOW_ROLLUPS/SHOWTIME/LATEST_VIDEO_ADDED_AT tiene las siguientes valores nicos:

                      show/show_rollups/showtime/latest_video_added_at
2017-06-30T07:00:32Z                                                20
2015-11-20T02:27:19Z                                                19
2017-05-02T07:00:30Z                                                10
2017-02-24T08:00:29Z                                                10
2017-07-11T07:33:28Z                                                10

La columna SHOW/SHOW_ROLLUPS/SHOWTIME/HIGHEST_RATING tiene las siguientes valores nicos:

       show/show_rollups/showtime/highest_rating
TV-14                                        604
TV-PG                                        132
TV-MA                                         86
TV-Y7                                         46
TV-G                                          38

La columna SHOW/ANNOTATIONS/0 tiene las siguientes valores nicos:

                                                    show/annotations/0
https://ib.hulu.com/company_logo/231?bg=dim&col...                  70
https://ib1.hulu.com/company_logo/8?bg=dim&colo...                  60
https://ib.hulu.com/company_logo/2?bg=dim&color...                  40
R5-ep-expiring                                                      30
https://ib1.hulu.com/company_logo/584?bg=dim&co...                  24

La columna SHOW/ANNOTATIONS/1 tiene las siguientes valores nicos:

                                        show/annotations/1
R5-ep-expiring                                          26
rolling5Badges: Time window is < 1h                      8
rolling5Badges: Time window is expired                   4

La columna UNNAMED: 181 tiene las siguientes valores nicos:

                Unnamed: 181
R5-ep-expiring             4

Los valores que tenemos para las columnas numricas son:

 .....................

Los principales estadsticos de las columnas categricas son:

,count,unique,top,freq
show/cache_time,1000,226,2017-08-10T14:46:12+00:00,10
show/canonical_name,1000,109,teenage-mutant-ninja-turtles,10
show/description,1000,109,Master Splinter allows the Turtles to visit th...,10
show/genre,1000,14,Comedy,280
show/genres,1000,71,Drama,80
show/link_description,262,29,"Read bios, recaps and tour Wisteria Lane at th...",10
show/name,1000,109,Teenage Mutant Ninja Turtles,10
show/thumbnail_url,1000,109,https://ib.hulu.com/show/12138?size=476x268&re...,10
show/key_art_url,1000,109,https://ib.hulu.com/show_key_art/12138?size=16...,10
show/type,1000,1,show,1000
show/availability/0,1000,1,web,1000
show/availability/1,1000,1,living_room,1000
show/availability/2,1000,1,mobile,1000
show/show_notes/free/availability_text,218,18,This series is available on Hulu Plus only.,60
show/show_notes/free/expiration_text,97,12,The Mindy Project became a Hulu Original for S...,10
show/show_notes/free/notification_text,206,23,Subtitled episodes are not available at this t...,10
show/show_notes/free/promotional_text,34,4,"Episodes 492, 542, and 590 - the Toriko/Dragon...",10
show/show_notes/subscriber/availability_text,338,31,the entire series,55
show/show_notes/subscriber/expiration_text,274,21,Episodes will be available the day after air. ...,50
show/show_notes/subscriber/notification_text,360,38,Episodes from the current season will be avail...,20
show/show_notes/subscriber/promotional_text,31,4,"Episodes 492, 542, and 590 - the Toriko/Dragon...",10
show/available_package_ids,1000,7,"1,2,14",626
show/company/name,1000,34,ABC,177
show/company/short_name,1000,34,ABC,177
show/company/canonical_name,1000,34,abc,177
show/company/key_art_url,1000,34,https://ib.hulu.com/company_key_art/231?size=1...,177
show/company/network_logo_url,399,14,https://ib.hulu.com/company_logo/231?bg=dim&co...,107
show/show_rollups/free/released_at,716,75,2015-05-01T06:50:00Z,38
show/show_rollups/free/latest_video_added_at,716,75,2015-05-01T06:50:00Z,20
show/show_rollups/free/highest_rating,477,4,TV-14,365
show/show_rollups/subscriber/released_at,1000,103,2015-05-01T06:50:00Z,38
show/show_rollups/subscriber/latest_video_added_at,1000,106,2017-06-30T07:00:32Z,20
show/show_rollups/subscriber/highest_rating,960,8,TV-14,604
show/show_rollups/current/released_at,1000,103,2015-05-01T06:50:00Z,38
show/show_rollups/current/latest_video_added_at,1000,106,2017-06-30T07:00:32Z,20
show/show_rollups/current/highest_rating,960,8,TV-14,604
show/show_rollups/free_on_web/released_at,716,75,2015-05-01T06:50:00Z,38
show/show_rollups/free_on_web/latest_video_added_at,716,75,2015-05-01T06:50:00Z,20
show/show_rollups/free_on_web/highest_rating,477,4,TV-14,365
show/show_rollups/subscriber_on_device/released_at,1000,104,2015-05-01T06:50:00Z,38
show/show_rollups/subscriber_on_device/latest_video_added_at,1000,106,2017-06-30T07:00:32Z,20
show/show_rollups/subscriber_on_device/highest_rating,960,8,TV-14,604
show/show_rollups/auth_on_web/released_at,1000,103,2015-05-01T06:50:00Z,38
show/show_rollups/auth_on_web/latest_video_added_at,1000,106,2017-06-30T07:00:32Z,20
show/show_rollups/auth_on_web/highest_rating,960,8,TV-14,604
show/show_rollups/showtime/released_at,1000,103,2015-05-01T06:50:00Z,38
show/show_rollups/showtime/latest_video_added_at,1000,106,2017-06-30T07:00:32Z,20
show/show_rollups/showtime/highest_rating,960,8,TV-14,604
show/annotations/0,310,17,https://ib.hulu.com/company_logo/231?bg=dim&co...,70
show/annotations/1,38,3,R5-ep-expiring,26
Unnamed: 181,4,1,R5-ep-expiring,4

 .....................

Los principales estadsticos de las columnas numricas son:

,count,mean,std,min,25%,50%,75%,max
show/id,1000.0,10497.292,8648.011122,10.0,2324.0,7889.0,17312.00,29524.0
show/clips_count,1000.0,230.023,796.309001,0.0,1.0,38.5,155.00,7073.0
show/episodes_count,1000.0,117.158,134.999325,0.0,24.0,86.0,156.00,747.0
show/feature_films_count,1000.0,0.000,0.000000,0.0,0.0,0.0,0.00,0.0
show/film_clips_count,1000.0,0.000,0.000000,0.0,0.0,0.0,0.00,0.0
...,...,...,...,...,...,...,...,...
show/show_rollups/showtime/html5_feature_films_count,1000.0,0.000,0.000000,0.0,0.0,0.0,0.00,0.0
show/show_rollups/showtime/html5_film_clips_count,1000.0,0.000,0.000000,0.0,0.0,0.0,0.00,0.0
show/show_rollups/showtime/html5_film_trailers_count,1000.0,0.000,0.000000,0.0,0.0,0.0,0.00,0.0
show/show_rollups/showtime/html5_videos_count,1000.0,252.904,787.949941,0.0,0.0,65.0,198.75,7066.0
show/show_rollups/showtime/non_rating_videos_count,1000.0,7.167,29.355696,0.0,0.0,0.0,0.00,218.0